html(prefix="og: http://ogp.me/ns#" lang="en")
  head
    title Photonomix
    meta(name="description" title="An artificial photonic life simulation.")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(property="og:title" content="Photonomix")
    meta(property="og:image" content="")
    meta(property="og:url" content="http://justen.us/photonomix")
    link(href="" rel="icon" type="image/x-icon")
    link(href="photonomix.manifest" rel="manifest")
    style(type="text/css")
      include ../styles/photonomix.css
      include ../styles/RightBankFLF.font.css
    script(src="scripts/index.js" type="text/javascript" defer)
    script(type="text/javascript")
      include ../scripts/register.js
  body.start
    noscript
      h1 Javascript Required
      p Photonomix is a game. Games run on code. Browser code is javascript.
      | You must enable javascript.
