html(prefix="og: http://ogp.me/ns#")
  head
    title Photonix
    meta(name="description" title="An artificial photonic life simulation.")
    meta(charset="UTF-8")
    meta(property="og:title" content="Photonix")
    meta(property="og:image" content="")
    meta(property="og:url" content="http://justen.us/photonix")
    link(href="" rel="icon" type="image/x-icon")
    link(href="styles/photonix.css" rel="stylesheet" type="text/css")
    script(src="scripts/photonix.js" type="text/javascript")
  body.start
    div#wrap
      div#game-screen
